*        text=auto

*.java   text diff=java
*.html   text diff=html
*.css    text
*.js     text
*.xml    text
.travis.yml text

src/test/resources/test-augmentations-following-cdata.html binary
src/test/resources/test-augmentations-script-content.html  binary
src/test/resources/test-newline-in-attribute-lf.html       binary
src/test/resources/test-newline-in-pi-lf.html              binary
