*        text=auto

*.java   text diff=java
*.html   text diff=html
*.css    text
*.js     text
*.xml    text
.travis.yml text

src/test/resources/org/htmlunit/cyberneko/testfiles/test010.html binary
src/test/resources/org/htmlunit/cyberneko/testfiles/test011.html binary

src/test/resources/org/htmlunit/cyberneko/testfiles/test-augmentations-following-cdata.html binary
src/test/resources/org/htmlunit/cyberneko/testfiles/test-augmentations-script-content.html  binary
src/test/resources/org/htmlunit/cyberneko/testfiles/test-newline-in-attribute-lf.html       binary
src/test/resources/org/htmlunit/cyberneko/testfiles/test-newline-in-pi-lf.html              binary

src/test/resources/org/htmlunit/cyberneko/testfiles/meta/test-meta-charset-shift_jis.html   binary
src/test/resources/org/htmlunit/cyberneko/testfiles/meta/test-meta-charset-koi8-u.html      binary
